---
import '../styles/global.css';
import Footer from "../components/Footer.astro";
import WhatsappButton from "../components/WhatsappButton.astro";
import SEO from "../components/SEO.astro";
const { title, description, canonical, ogImage, noIndex = false } = Astro.props;

const canonicalUrl = canonical
    ? new URL(canonical, Astro.site ?? Astro.url).toString()
    : Astro.url.toString();

const ogImageUrl = new URL(
    ogImage ?? "/web-app-manifest-512x512.png",
    canonicalUrl
).toString();

const base = Astro.site ?? Astro.url;

const orgJsonLd = {
    "@context": "https://schema.org",
    "@type": "Organization",
    name: "NVM Ingeniería en Tableros",
    url: new URL("/", base).toString(),
    telephone: "+57 315 003 2747",
    logo: new URL("/favicon.svg", base).toString(),
    };



---

<html lang="es">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="application/ld+json" set:html={JSON.stringify(orgJsonLd)} />


    <SEO
            title={title}
            description={description}
            canonicalUrl={canonicalUrl}
            ogImageUrl={ogImageUrl}
            noIndex={noIndex}
    />

    <script is:inline>
        (function () {
            const pref = localStorage.getItem('theme'); // 'light' | 'dark' | null
            const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
            if (pref === 'dark' || (!pref && prefersDark)) {
                document.documentElement.classList.add('dark');
            }
        })();
    </script>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="NVM" />
    <link rel="manifest" href="/site.webmanifest" />
</head>
<body class="bg-white text-neutral-900 dark:bg-gray-900">

    <main>

        <slot />
    </main>
    <Footer />
    <WhatsappButton
            phone="+57 315 003 2747"
            message="Hola, me interesa cotizar un tablero eléctrico."
    />
    <script>
        import "../scripts/embla-init";
    </script></body>
</html>
